@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&display=swap');

html {
    font-size: 16px;
}

.navBar2 {
    background: #74C69D;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    padding: 2rem 7rem 6rem 7rem;
    gap: 2rem;
}

.header {
    margin: 0;
}

.texto-navBar2 {

    color: #FFFFFF;
}

.texto-navBar2 h4 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.texto-navBar2 h1 {
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
}

.texto-navBar2 p {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 125%;
    color: rgba(255, 255, 255, 0.75);
}

.button {
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 5px;
    padding: 13px 48px 13px 48px;
    font-size: 20px;
    border: 0;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    text-align: center;
    margin-top: 1rem;
}

section img {
    width: 60%;
    height: 60%;
    padding-top: 1rem;
}

@media only screen and (max-width: 600px) {

    .navBar2 {
        background: #74C69D;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        /* gap: 2rem; */
        align-items: center;
        padding: 1rem 1rem 2rem 1rem;
        /* gap: 2rem; */
    }


    section img {
        width: 100%;
        height: auto;
        padding-top: 1rem;
    }
}