@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&display=swap');

html {
    font-size: 16px;
}

.main {
    justify-content: center;
    position: relative;
}

.intro {
    margin-top: 30px;
}

.works h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #74C69D;
    margin: 0px 0px 16px 0px;
}

.portfolio {
    font-family: 'Crimson Text', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    text-align: center;
    color: #000000;
}

.portfolio p {
    margin: 0;
}

.lorem {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    text-align: center;
    color: #000000;
}

.lorem p {
    margin: 16px 0px 0px 0px;
}

.grid-container {
    margin-top: 4.875rem;
    display: grid;
    gap: 4.563rem;
    grid-template-columns: auto auto auto;
    justify-content: center;
    margin-bottom: 8.438rem;
}

.grid-item {
    text-align: center;
    border-color: #000000;
    box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    gap: 10px;
    padding: 2rem 0.5rem;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 17.188rem;
    height: 100%;
}

.grid-item h1 {
    font-weight: 400;
    font-size: 15px;
    line-height: 125%;
}

.tarifaPrice {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 9px;
    height: 1rem;
    padding: 1rem;
}

.tarifaPrice h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
}

.tarifaPrice h3 {
    font-weight: 400;
    font-size: 15px;
    line-height: 125%;
    color: rgba(33, 37, 41, 0.5);
}

.grid-item p {
    font-weight: 400;
    font-size: 15px;
    line-height: 125%;
    text-align: center;
    color: rgba(33, 37, 41, 0.5);
}

.lorems {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 11px;
}

.lorems p {
    font-weight: 400;
    font-size: 15px;
    line-height: 125%;
    text-align: center;
    color: #212529;
}

.boton {
    justify-content: center;
    display: flex;
    position: relative;
    margin-top: 60px;
}

.button {
    background-color: #212529;
    color: #FFFFFF;
    border-radius: 5px;
    padding-bottom: 10px;
    padding-top: 13px;
    padding-left: 29.5px;
    padding-right: 29.5px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
}

#current {
    color: #093A3E;
}

label input {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    background-color: #F5F5F5;
}

.header {
    background: #74C69D;
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    height: 123px;
}

.titol {
    display: flex;
    position: relative;
    left: 131px;
    gap: 10px;
    align-items: center;
}

.logo img {
    width: 70px;
    height: 48.31px;
}


.titol h1 {
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    color: #FFFFFF;
}


label ul {
    align-items: center;
}

label li {
    list-style-type: none;
    display: inline-block;
}

label a {
    margin: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    color: #FFFFFF;
    text-decoration: none;
}

label {
    margin: 2em;
    margin-right: 131px;
}


.menu img {
    width: 35px;
    height: 35px;

}

@media only screen and (max-width: 600px) {

    .grid-container {
        gap: 3.125rem;
        /* Establecer la separación entre elementos internos */
        grid-template-columns: auto;
        /* Establecer una sola columna de ancho automático */
        margin-bottom: 4.25rem;
        /* Establecer un margen inferior */
    }

    .lorem p {
        margin: 16px 20px;
        /* Establecer un margen superior e inferior de 16px y un margen izquierdo y derecho de 20px */
    }
}