@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&display=swap');


html {
    font-size: 16px;
}

#current {
    color: #093A3E;
}

label input {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    background-color: #F5F5F5;
}

.header {
    background: #74C69D;
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    height: 123px;
}

.titol {
    display: flex;
    position: relative;
    left: 131px;
    gap: 10px;
    align-items: center;
}

.logo img {
    width: 70px;
    height: 48.31px;
}


.titol h1 {
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    color: #FFFFFF;
}


label ul {
    align-items: center;
}

label li {
    list-style-type: none;
    display: inline-block;
}

label a {
    /* display: none; */
    margin: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    color: #FFFFFF;
    text-decoration: none;
}

label {
    margin: 2em;
    margin-right: 131px;
}


.menu img {
    width: 35px;
    height: 35px;

}



/*-------------Footer styles------------- */

footer {
    bottom: 0;
}

.bottom {
    background: #74C69D;
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    height: 123px;
}

.xarxes {
    margin-left: 131px;
    width: 100%;
    padding-top: 51px;
    padding-bottom: 49px;

}

.ultima {
    width: 100%;
    text-align: right;
    margin-right: 131px;
}

.ultima p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    color: #FFFFFF;
    margin: 0px;
    padding-top: 51px;
    padding-bottom: 49px;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .bottom {
        justify-content: center;
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .xarxes {
        padding: 0;
        margin: 0;
    }

    .ultima {
        padding: 0;
        margin: 0;
        text-align: center;
    }

    .ultima p {
        padding: 0;
    }

    .header {
        height: 70px;
    }

    .text {
        display: none;
    }

    #logo {
        width: 45px;
    }

    .titol {
        display: flex;
        left: 1em;
        font-size: 30px;

    }

    label .menu {
        position: absolute;
        right: -100px;
        top: -100px;
        z-index: 100;
        width: 200px;
        height: 200px;
        background: #FFF;
        border-radius: 50% 50% 50% 50%;
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
        cursor: pointer;

    }

    label .hamburger {
        position: absolute;
        top: 135px;
        left: 50px;
        width: 30px;
        height: 2px;
        background: #69D2e7;
        display: block;
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
    }

    label .hamburger:after,
    label .hamburger:before {
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background: #69d2e7;
    }

    label .hamburger:before {
        top: -10px;
    }

    label .hamburger:after {
        bottom: -10px;
    }

    label input {
        display: none;
    }

    label input:checked+.menu {
        box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
        border-radius: 0;
    }

    label input:checked+.menu .hamburger {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    label input:checked+.menu .hamburger:after {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        bottom: 0;
    }

    label input:checked+.menu .hamburger:before {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        top: 0;
    }

    label input:checked+.menu+ul {
        opacity: 1;
    }

    label {
        margin: 0;
    }

    label ul {
        z-index: 200;
        position: absolute;
        top: 30%;
        left: 30%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 0;
        -webkit-transition: .25s 0s ease-in-out;
        transition: .25s 0s ease-in-out;
        display: inline-block;
    }

    label li {
        display: inline;
        margin-right: 10px;
    }

    label a {
        color: #74C69D;
        text-decoration: none;
        font-size: 1.5em;
        margin: 0px;
        display: contents;
    }

}