@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&display=swap');


.main {
    justify-content: center;
    position: relative;
}

.intro {
    margin-top: 30px;
}

.works h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #74C69D;
    margin: 0px 0px 16px 0px;
}

.portfolio {
    font-family: 'Crimson Text', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    text-align: center;
    color: #000000;
}

.portfolio p {
    margin: 0;
}

.lorem {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    text-align: center;
    color: #000000;
}

.lorem p {
    margin: 16px 0px 0px 0px;
}

.grid-container {
    margin-top: 82px;
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto;
    justify-content: center;
}

.grid-item {
    text-align: center;
}

.grid-item img {
    width: 32rem;
    height: 18rem;
}

.boton {
    justify-content: center;
    display: flex;
    position: relative;
    margin: 27.95px 0px 30px 0px;
}

.button {
    background-color: #212529;
    color: #FFFFFF;
    border-radius: 5px;
    padding-bottom: 10px;
    padding-top: 13px;
    padding-left: 29.5px;
    padding-right: 29.5px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    margin-bottom: 109px;
    margin-top: 69px;
}